body {
  background-color: #2c3e50;
  color: black; }

h1 {
  color: black;
  margin-left: 10px;
  font-size: 25px;
  text-align: left; }

button {
  color: #2c3e50;
  margin-top: 5px; }

h2 {
  color: #2c3e50;
  font-size: 20px;
  text-decoration: underline;
  text-align: center; }

#gauche {
  float: left;
  width: 70%;
  height: 600px;
  background-color: #EFECCA; }

#droite {
  background-color: #CEFFF8;
  height: 600px;
  padding: 10px;
  padding-left: 71%; }

.draggable {
  cursor: move; }

.resize {
  cursor: nw-resize; }

.resize_ew {
  cursor: ew-resize; }

p {
  color: black; }

button {
  cursor: pointer; }

#grey, #border_grey {
  background-color: grey;
  color: grey; }

#red, #border_red {
  background-color: red;
  color: red; }

#green, #border_green {
  background-color: green;
  color: green; }

#blue, #border_blue {
  background-color: blue;
  color: blue; }

#yellow, #border_yellow {
  background-color: yellow;
  color: yellow; }

#black, #border_black {
  background-color: black;
  color: black; }

#white, #border_white {
  background-color: white;
  color: white; }

#epais {
  display: none; }

#couleur {
  display: none; }
